body{
    background: linear-gradient(  #ff00b2 0%, #3f06ff 100%);
    color: azure;
    text-align: center;
    font-family: 'Langar', cursive;
}

img{
    border-radius: 50%;
    width: 600px;
}